 <div class="w3-container w3-teal">
  <h1 class="w3-center">Edit Question Panel</h1>
 </div>
 
<div class="w3-card-4 w3-margin">
	
	<div class="w3-container w3-teal">
	  <h2 class="w3-center">Question Form</h2>
	</div>
	
	<form class="w3-container">
		
		<p>
			<label class="w3-label w3-validate">
       question
     </label>
			<textarea class="w3-input" ng-model="q.qt" type="text" required></textarea>
		
		</p>
		
		<p> 
			<label class="w3-label w3-validate">
       optionA
     </label>
			<input class="w3-input" type="text"
ng-model="q.optA" required>
		</p>
    
    <p> 
			<label class="w3-label w3-validate">
       optionB
      </label>
			<input class="w3-input" type="text" ng-model="q.optB" required>
		</p>
		
    <p> 
			<label class="w3-label w3-validate" >
      optionC
      </label>
			<input class="w3-input" type="text"  ng-model="q.optC" required>
		</p>

	  <p> 
			<label class="w3-label w3-validate">
      optionD
     </label>
			<input class="w3-input" type="text" ng-model="q.optD" required>
		</p>

    <p> 
			<label class="w3-label w3-validate">
       optionE
     </label>
			<input class="w3-input" type="text" ng-model="q.optE" required>
		</p>
   <p>
	  <select class="w3-select w3-border" name="option" ng-model="q.ans">
		  <option value="" disabled selected>Choose your option</option>
		  <option value="a">Option A</option>
		  <option value="b">Option B</option>
		  <option value="c">Option C</option>
			<option value="d">Option D</option>
			<option value="e">Option E</option>
		</select>
  </p>
   
    
   <p>
		 
		  <button class="w3-btn-block w3-teal">submit</button>
		
   </p>
	</form>
	
{{q.ans}}
</div>
    Option D
     </option>
			<option value="E" {{this.value==q.ans?selected:null}}>
         Option E
     </option>
		</select>
  </p>
   
    
   <p>
		 
		  <button class="w3-btn-block w3-teal">submit</button>
		  {{q.ans}}
   </p>
	</form>
	
{{qt}}
</div>
